# Dependencies
node_modules/

# Build output
dist/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db